use nix

# Strange bug where the nix-shell tmp directory is deleted
# and cannot be created for some arbitrary reason I dont know.
# But the line below does the trick by creating the tmpdir
# once it enters the nix-shell. Easy and handy trick I guess.
# mkdir -p $TMPDIR
